attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
freeze==2.104.116.116.112.115.58.47.47.97.100.45.115.121.46.99.104.47.98.72
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.10.1
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.1
jupyter-core==4.5.0
jupyterlab==1.0.6
jupyterlab-server==1.0.4
lxml==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.17.2
pandas==1.0.3
pandocfilters==1.4.2
parsel==1.6.0
parso==0.5.1
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
pywinpty==0.5.5
pyzmq==18.1.0
queuelib==1.5.0
requests==2.23.0
Scrapy==2.1.0
scrapy-splash==0.7.2
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
soupsieve==2.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
Twisted==22.4.0
urllib3==1.25.9
w3lib==1.21.0
wcwidth==0.1.7
webencodings==0.5.1
zope.interface==5.1.0
